$white : #fff;
$softwhite: #f8f8f8;
$gray : #707070;
$softgray : #cecece;
$red: #ce1540;
$black: #333333;
$blue: #3397dc;

.data{
    display: flex;
    flex-direction: column;
    .input-data{
        width: 100%; 
        form{
            display: flex;
            justify-content: space-around;
            padding: 2rem;
            .input-data{
                border: none;
                width: 60%;
            }
            .input-data:focus{
                border:none;
            }
            
        }
    }
    .show-data{
        border-top:3px $blue solid ;
        margin-top: 1rem;
        padding: 1rem;
        &__line{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $softgray;

        }
            &__data{
                width: 85%;
                margin-left: 2.25rem;
            }
            &__action{
                display: flex;
                justify-content: center;
                width: 15%;
            }
            
    }
}



