{% include 'header.html' %}
    <!-- Vertical Nav Menu-->
    <div class="contenedor">
        {% include 'menu.html' %}
        <div class="data-section">
            <div class="header">
                <div class="header__description">
                    <span class="icon-header"><i class="fa fa-tachometer-alt"></i></span>
                    <p class="title-header">Dashboard</p>
                </div>
                <div class="header__date-time">
                    <p class="date-time"></p>
                </div>
            </div>
            <div class="data">

                <!-- Here comes data-->

            </div>
        </div>
    </div>
    {% include 'footer.html' %}