{% include 'header.html' %}
    <!-- Vertical Nav Menu-->
    <div class="contenedor">
        {% include 'menu.html' %}
        <div class="data-section">
            <div class="header">
                <div class="header__description">
                    <span class="icon-header"><i class="fab fa-buromobelexperte"></i></span>
                    <p class="title-header">Equipments</p>
                </div>
                <div class="header__date-time">
                    <p class="date-time"></p>
                </div>
            </div>
            <div class="data">
                {% with messages = get_flashed_messages(with_categories = true) %}
                    {% for category, message in messages %}
                        {% if category == ['error'] %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% else %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                <!-- Here comes data-->
                <div class="input-data">
                    <form action='/equipment' method="POST">
                        <label >Equipment Description : </label>
                        <input id='desc' class="input-data" type="text" name="desc">
                        <button id='btn-submit' class="btns btn-submit" type="submit"><i class="fa fa-save"></i> </button>
                    </form>

                </div>
                <div class="show-data">

                    <!-- <div class="show-data__line"> -->
        
                        <div class="show-data__data">
                            <ul>
                                {% for eq in data %}
                                    {% if eq.Equipment_id != 'None' %}
                                        <li id = {{eq.Equipment_Id}} data-table = '{{eq.table}}' data-key = {{eq.key}}> <div> {{eq.Description}}</div><a id='btn-delete' class="btns btn-delete" type='submit'><i
                                        class="fa fa-trash"></i></a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}