
        <div class="navbar">
            <div class="nav-brand">
                <h3 class="nav-brand__title">MCC CONSTRUCTOR</h3>
            </div>
            <nav class="menu">
                <ul>
                    <li class="nav-link"><i class="icon-option fa fa-tachometer-alt"></i>
                        <a class="menu-option" href="/dashboard">Dashboard</a>
                    </li>
                    <div class="separator"></div>
                    <li class="nav-link"><i class="icon-option fab fa-buromobelexperte"></i>
                        <a class="menu-option" href="/equipment">Equipments</a>
                    </li>
                    <li class="nav-link"><i class="icon-option fa fa-sort-numeric-desc"></i>
                        <a class="menu-option" href="nema">Nema Sizes</a>
                    </li>
                    <li class="nav-link"><i class="icon-option fa fa-object-group"></i>
                        <a class="menu-option" href="#">Components</a>
                    </li>
                    <li class="nav-link"><i class="icon-option fa fa-th-list"></i>
                        <a class="menu-option" href="#">Bucket Types</a>
                    </li>
                    <li class="nav-link"><i class="icon-option fa fa-user"></i>
                        <a class="menu-option" href="#">Operators</a>
                    </li>
                    <div class="separator"></div>
                    <li class="nav-link"><i class="icon-option fa fa-project-diagram"></i>
                        <a class="menu-option" href="#">Projects</a>
                    </li>
                    <div class="separator"></div>
                    <li class="nav-link"><i class="icon-option fa fa-sign-out"></i>
                        <a class="menu-option" href="/login">Log out</a>
                    </li>

                </ul>
            </nav>
        </div>
  